body{
   background-color:rgb(181, 245, 245);
}




 
.flower-photo{

   
    width: 20%;
    height: 50%;
    padding: 2px; 
    margin:auto;
    justify-content:center; 
    display: block;
    top: 50%;
}


h2{

   width: 20%;
   height: 50%;
   padding: auto; 
   margin:auto;
   justify-content:center;
}


#image-one{
    width: auto;
    height: auto;
    padding: auto; 
    margin:auto;
    justify-content: left;

} 


